<h2>Fibonacci </h2>
<div class="lists-holder">
  <div>
    (Observable)
    <ul>
      <li *ngFor="let value of values">{{value}}</li>
    </ul>
  </div>
  <div>
    (Observable 2)
    <ul>
      <li *ngFor="let value of valuesObservableSecondTime">{{value}}</li>
    </ul>
  </div>

  <div>
    (Subject)
    <ul>
      <li *ngFor="let value of valuesSubject">{{value}}</li>
    </ul>
  </div>

  <div>
    (Late subject subscriber)
    <ul>
      <li *ngFor="let value of valuesSubject2">{{value}}</li>
    </ul>
  </div>
</div>
